body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2;
  background-color: rgb(178, 196, 255);
}

h1, h2, h3 {
  margin: 1em 2;
}

p {
  line-height: 1.5;
}


.header {
  background-color: #ffffff;
  padding: 1em;
  text-align: center;
}


.intro {
  padding: 2em;
 
}


.flexbox-section {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  border: 1px solid #000000;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item1 {
  background-color: #ffffff81;
  width: 30%;
  margin: 1em;
  padding: 1em;
  border: 1px solid #000000;
  text-align: center;
}

.flex-item2 {
  background-color: #ffffffa9;
  width: 30%;
  margin: 1em;
  padding: 1em;
  border: 1px solid #000000;
  text-align: center;
}

.flex-item3 {
  background-color: #ffffff;
  width: 30%;
  margin: 1em;
  padding: 1em;
  border: 1px solid #000000;
  text-align: center;
}


.grid-section {
  padding: 2em;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

.grid-item1 {
  background-color: #a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.grid-item2 {
  background-color: #a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.grid-item3{
  background-color:#a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.grid-item4 {
  background-color: #a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.grid-item5 {
  background-color: #a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.grid-item6 {
  background-color: #a251ff;
  padding: 1em;
  border: 1px solid #000000;
}

.positioning-section {
  padding: 2em;

}

.relative-container {
  position: relative;
}

.absolute-box {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: rgb(224, 219, 255);
  padding: 1em;
  border: 1px solid #000000;
  
}


.footer {
  text-align: center;
  padding: 1em;
  background-color: #005ac0;
}
